.footer{
    grid-area: footer;
    background-color:darkblue;
    font-size: 1.5em;
    color:white;
    line-height: 50px;
    background:-moz-radial-gradient(center, circle,gray, black);
    background:-webkit-radial-gradient(center, circle, gray, black);
    background:-ms-radial-gradient(center, circle, gray, black);
    background:-o-radial-gradient(center, circle,gray,black);
}