.header{
    grid-area: header;
    display:grid;
    background:-moz-radial-gradient(center, circle,gray, black);
    background:-webkit-radial-gradient(center, circle, gray, black);
    background:-ms-radial-gradient(center, circle, gray, black);
    background:-o-radial-gradient(center, circle,gray,black);
    h1{
        color:white;
        font-size: 2em;
    }
}