.main{
    grid-area: main;  
    // background-color: #fdcfcf;
    display:grid; 
    align-items: center;
    justify-content:center; 
    img{
        width: 100%;
        height: 100%;
        padding: 10px;
        max-width: 1030px;
        margin: 0 auto;
        border-radius: 0px 50px 0px 50px;
    }
}  