.main2Ser{
    grid-area: main2Ser;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-template-rows: minmax(250px,auto);
    align-items: center;
    img{
        box-shadow: 1px 1px 1px 5px rgba(0,0,0,0.2);
        border-radius: 30px 0px 30px 0px;
        -moz-transition:-moz-transform 0.3s ease-in-out 0.1s;
        -webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
        -ms-transition:-ms-transform 0.3s ease-in-out 0.1s;
        -o-transition:-o-transform 0.3s ease-in-out 0.1s;
    }
    .img:hover{
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
}
