.main2Con{
    grid-area:main2Con;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-template-rows: minmax(450px,auto);
    align-items: flex-start;
    justify-content: flex-start;
    .nombre, .apellido, .telefono, .email{
        width: 100%;
        margin:5% 0;
        padding: 2%;
    }
    .contenedor{
        width: 200%;
        margin:5% 0;
        padding: 30%;
    }
    .enviar{
        margin:2% 170%;
        cursor: pointer;
    }
}
