.main1Ser{
    grid-area: main1Ser;
    display:grid;
    align-items:center;
    justify-content:center;
    img{
        width: 100%;
        height: 100%;
        padding: 5%;
        margin: 0 auto; 
        border-radius: 0px 50px 0px 50px;  
    }
}