.mainCon{
    grid-area: mainCon;
    display:grid;
    align-items:center;
    justify-content:center;
    img{
        width: 100%;
        height: 80%;
        margin: auto 10px; 
        border-radius: 0px 50px 0px 50px;  
    }
}