.navbar{
    grid-area: navbar;
    background:-moz-radial-gradient(top, circle, black, gray);
    background:-webkit-radial-gradient(top, circle, black, gray);
    background:-ms-radial-gradient(top, circle, black, gray);
    background:-o-radial-gradient(top, circle, black, gray);
    word-spacing: 5em;
    align-items: center;
    justify-content: center;
    list-style: none;
    line-height: 50px;
    a{
        color:white;
        font-size: 1.2em;
    }
    li{
        display: inline;
    }   
}


