// ESTILOS de la página FAQ en el ARCHIVO css/estilosFaq.scss

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-size:1rem;
    min-height: 100%;
    background:-moz-radial-gradient(center, circle,#483D8B, white);
    background:-webkit-radial-gradient(center, circle, #483D8B, white);
    background:-ms-radial-gradient(center, circle, #483D8B, white);
    background:-o-radial-gradient(center, circle, #483D8B, white);
    background-repeat: repeat;
}

@import "header";
@import "navbar";
@import "mainFaq";
@import "img1";
@import "main1Faq";
@import "footer";

.grid-container > *{
    border-radius: 30px;
    padding: 2px;
    text-align: center;
}

.grid-container{
    width: 85%;
    display: grid;
    gap:15px;
    margin: 0 auto;
    grid-template-areas:
            "header"
            "navbar"
            "mainFaq"
            "img1"
            "main1Faq"
            "footer";
}

@mixin medias{
    .grid-container{
        grid-template:
        "header header header header header" 50px
        "navbar navbar navbar navbar navbar" 50px
        "mainFaq mainFaq mainFaq mainFaq mainFaq" auto 
        "img1 main1Faq main1Faq main1Faq main1Faq" auto
        "footer footer footer footer footer" 50px /
        auto auto auto auto auto;
    }
}

@media (min-width: 600px){
    @include medias;
}

@media (min-width:900px){
    @include medias;
}