@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    background-color: gainsboro;
    font-family: 'Fredoka', sans-serif;
    font-size:1rem;
    min-height: 100%;
}

.header{
    grid-area: header;
    background-color:darkblue;
    color:white;
    font-size: 1rem;
}

.navbar{
    grid-area: navbar;
    background-color: #2F4F4F;
    word-spacing: 5em;
    align-items: center;
    justify-content: center;
    list-style: none;
    line-height: 50px;   
}

a{
    color:white;
    font-size: 1.2em;
}

li{
    display: inline;
}

.main{
    grid-area: main;
    background-color:#98FB98;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    grid-template-rows: minmax(450px,auto);
    align-items: center; 
  
 }  

.main img{
   
    border-radius: 30px 0px 30px 0px;
   
    padding: 10px;
    margin:0 auto;
    -moz-transition:-moz-transform 0.3s ease-in-out 0.1s;
	-webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
	-ms-transition:-ms-transform 0.3s ease-in-out 0.1s;
	-o-transition:-o-transform 0.3s ease-in-out 0.1s;
}

.img:hover{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.img1{
    display: grid;

}

.img1 .i1{
    border-radius: 30px;
    padding: 2px;
    align-items: center;
    justify-content:center;
}

.main1{
    grid-area: main1;
    background-color: #fdcfcf;font-size: 1em;
    display:grid;

   
}


.footer{
    grid-area: footer;
    background-color:darkblue;
    font-size: 1.5em;
    color:white;
    line-height: 50px;
}

.grid-container > *{
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    border-radius: 30px;
    padding: 2px;
    text-align: center;
}

.grid-container{
    width: 90%;
    display: grid;
    gap:15px;
    margin: 0 auto;
    grid-template-areas:
            "header"
            "navbar"
            "main"
            "img1"
            "main1"
            "footer";
}

@media (min-width: 600px){
    .grid-container{
        /* grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px; */
        /* grid-template-areas:
            "header header"
            "navbar navbar"    "header header header" 50px
        "navbar navbar navbar" 40px
        "main   main main"  auto
        "main1   main1 main1"  40px
        "main2   main2 main2"  auto
        "footer footer footer" 30px /
        auto;*/
    

    grid-template:
        "header " 50px
        "navbar " 50px
        "main   " auto
        "img1   " auto
        "main1  "auto
        "footer " 50px /
        auto ;
    } 
}

@media (min-width:900px){
    .grid-container{
        grid-template:
        "header header" 50px
        "navbar navbar" 50px
        "main   main" auto
        "img1   main1" auto
        "footer footer" 50px /
        300px auto ;
    }
}